.logo{
    font-family: oswald,sans-serif;
    width: 100%;
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    text-shadow: 4px 4px 0 #00ffc0;
}

nav{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #0F0F0F;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    -webkit-box-shadow: 10px 10px 6px 0px rgba(0,255,192,1);
    -moz-box-shadow: 10px 10px 6px 0px rgba(0,255,192,1);
    box-shadow: 10px 10px 5px 0px rgba(0,255,192,1);  
}

nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nav li{
    display: flex;
    flex-direction: row;
}