.logo {
  font-family: oswald, sans-serif;
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  text-shadow: 4px 4px 0 var(--shadow);
}

nav {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  border-bottom: 3px solid var(--borders);
  justify-content: space-between;
  align-items: center;
}

nav * {
  margin: 1rem;
}

.menuItems *, .rightItems * {
  height: 100%;
}

.rightItems{
  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
  align-items: center;
}

.disconnect{
  margin-left: auto;
}

.theme-toggle{
  background-size: contain;
}

.progressBar{
  background-color: var(--shadow);
  height: 1rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
}