body {
  background-color: white;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

h2 {
  color: #333;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center; /* Centra el texto horizontalmente en la tabla */
}

table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tfoot {
  font-weight: bold;
}
