.games-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-template-columns: 1fr;
    list-style-type: none;
    text-align: center;
    gap: 1rem;
    margin: 1rem;
    padding: 0;
}

ul li{
    text-decoration: none;
    
}