.games-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

ul{
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    text-align: center;
    gap: 1rem;
    margin: auto;
    padding: 0;
}

ul li{
    text-decoration: none;
    
}