.register-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.register-container label{
    margin-top: 1rem;
}

.register-button{
    box-shadow: none;
}